.intro {
  margin: 92px 0;
  max-width: 830px;
  width: 100%;
}

.intro__title {
  font-size: 54px;
  font-weight: bold;
  margin: 0 0 40px;
}

.intro__quote {
  display: flex;
  flex-direction: column;
  max-width: 720px;
}

.intro__quote-text {
  font-size: 24px;
  margin: 0;
}

.intro__quote-author {
  align-self: flex-end;
  font-size: 24px;
  margin: 10px 0 32px;
}

.intro__main-text {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    margin: 90px 24px 0;
  }

  .intro__title {
    font-size: 45px;
    line-height: 1;
    margin: 0 0 50px;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    margin: 64px 16px 0;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1;
    margin: 0 0 40px;
  }

  .intro__quote-text {
    line-height: 1;
  }
}
