.page {
  background-color: #2a2c2f;
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  overflow: hidden;
}

/* @media screen and (max-width: 1024px) {
  .page {
    padding: 0;
  }
} */
